# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
staticfiles/
static/

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
