Django==5.0.*
djangorestframework==3.15.*
psycopg2-binary==2.9.*
celery==5.4.*
django-celery-beat==2.6.*
redis==5.0.*
requests==2.32.*
python-decouple==3.8
pytest==8.2.*
pytest-django==4.8.*
gunicorn==22.0.*
responses==0.25.*
djangorestframework-simplejwt==5.3.*
PyJWT==2.9.*
cryptography==43.0.*
drf-spectacular==0.27.*
